.centerForm {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  border: 1px solid black;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px 10px 30px 10px;
  border-radius: 10px;
  width: 300px;
}

.loginTitle {
  margin: 0;
}

.loginInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.loginButton {
  height: 40px;
  width: 100%;
}

.formItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.errorMessage {
  margin: 0;
  font-size: 0.8rem;
  color: crimson;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}